<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Users</title>
    <link rel="stylesheet" href="/static/create.css">
</head>
<body>
<div id='center'>
<h3>Add User</h3>
<form method="POST">
    <div id='Id-row'>
    <label>Id</label><br>
    <input id='id' class="form" type="text" name="Id" /><br><br>
    </div>

    <div id='Name-row'>
    <label>Name</label><br>
    <input id='name' class="form" type="text" name="Name" /><br><br>
    </div>

    <input class="button" type="submit" value="Send" />
</form>
</div>
</body>
</html>